body {
    width: 800px;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    background: #333; 
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#actions legend {
    text-align: left;
}

code {
    display: block;
}

#log {
    text-align: left;
    margin-top: 10px;
}

button {
    font-size: 110%;
}